# .clangd doesn not support relative paths, so it should be generated using "make .clangd"
CompileFlags: # Tweak the parse settings
  Add:
    - "-I{{PROJECT_ROOT}}/upf-plugin"
    - "-I{{PROJECT_ROOT}}/netcap-plugin"
    - "-I{{PROJECT_ROOT}}/.vpp-include/usr/include"
    - "-I{{PROJECT_ROOT}}/.vpp-include/usr/include/libnl3"
    - "-xc"
    - "-DCLIB_DEBUG"
    - "-DHAVE_MEMFD_CREATE"
    - "-DVLIB_BUFFER_TRACE_TRAJECTORY"
    - "-DUPF_VPP_PLUGIN=1"
    - "-DNETCAP_VPP_PLUGIN=1"
    - "-Wall"
    - "-Wno-deprecated-non-prototype"
    - "-Wno-address-of-packed-member"
    - "-g"
    - "-fPIC"
    - "-std=gnu11"
    - "-march=corei7"
    - "-mtune=corei7-avx"
    - "-O0"
    - "-ftrivial-auto-var-init=pattern"
    - "-fstack-protector-all"
  Compiler: clang
