name: Release

on:
  push:
    tags: ["v*"]

jobs:
  retag-upg-image:
    runs-on:
      - ubuntu-24.04

    strategy:
      matrix:
        build_type: [debug, release]

    steps:
      - name: Checkout
        uses: actions/checkout@v5
        with:
          # for git describe
          fetch-depth: 0
          submodules: true
          token: ${{ secrets.GITHUB_TOKEN }}

      - name: Login to the registry
        uses: docker/login-action@v3
        with:
          registry: ${{ vars.REGISTRY_DOMAIN }}
          username: ${{ secrets.QUAY_USER_ID }}
          password: ${{ secrets.QUAY_TOKEN }}

      - name: Ensure upg image to retag is present
        id: ensure-upg-image-to-retag
        run: |
          BUILD_TYPE="${{ matrix.build_type }}" UPG_REPO="${{ vars.UPG_REPO }}" build/ensure-upg-image-to-retag.sh

      - name: Retag upg image
        if: steps.ensure-upg-image-to-retag.outputs.image_to_retag_present == 'true'
        run: |
          BUILD_TYPE="${{ matrix.build_type }}" UPG_REPO="${{ vars.UPG_REPO }}" build/retag-upg-image.sh

    outputs:
      debug_image_to_retag_present: ${{ steps.ensure-upg-image-to-retag.outputs.debug_image_to_retag_present }}
      release_image_to_retag_present: ${{ steps.ensure-upg-image-to-retag.outputs.release_image_to_retag_present }}

  rebuild-and-tag-upg-release-image:
    needs: retag-upg-image
    if: needs.retag-upg-image.outputs.release_image_to_retag_present == 'false'
    uses: ./.github/workflows/build-images.yaml
    with:
      build_type: release
    secrets: inherit

  rebuild-and-tag-upg-debug-image:
    needs: retag-upg-image
    if: needs.retag-upg-image.outputs.debug_image_to_retag_present == 'false'
    uses: ./.github/workflows/build-images.yaml
    with:
      build_type: debug
    secrets: inherit

  changelog:
    runs-on:
      - ubuntu-24.04

    steps:
      - name: Checkout
        uses: actions/checkout@v5
        with:
          fetch-depth: 0

      - name: Build Changelog
        id: build_changelog
        uses: mikepenz/release-changelog-builder-action@v5
        with:
          configuration: "changelog-config.json"
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Post the release
        uses: softprops/action-gh-release@v2
        with:
          body: ${{ steps.build_changelog.outputs.changelog }}
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
